body{
    background-image: linear-gradient(#041C32, #020f1b);
    font-family: "poppins", sans-serif;
    margin-top: 30px;
}

h1{
    font-size: 50px;
}

h1,p{
    color: #ECB365;
    display: flex;
    justify-content: center;
}

.home{
    background-color: transparent;
    border: #ECB365 1.5px solid;
    color: #ECB365;
    padding: 8px 80px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 25px;
    margin-left: 2%;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    display: block;
    cursor: pointer;
    transition: 0.4s;
}

.home:hover {
    background-color: #ECB365;
    color: black;
}
